<section class="transaction">
  <h2>Recent Transactions</h2>
  <p>
    <a href="#">
      View All
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox=" 0px 0px 24px 24px"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 8.25l-7.5 7.5-7.5-7.5"
        />
      </svg>
    </a>
  </p>
</section>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Walle ID</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          DY04210S0XA5
          <p>Hash: 2111853732263042</p>
        </td>

        <td>May 23, 2022</td>
        <td>$250.00</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>
          PILMA81KS4JA
          <p>Hash: 0348408522616817</p>
        </td>
        <td>May 19, 2022</td>
        <td>$980.00</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>
          JV72FR6TIL1S
          <p>Hash: 1555845473775037</p>
        </td>
        <td>May 15, 2022</td>
        <td>$290.00</td>
        <td>Failed</td>
      </tr>
      <tr>
        <td>
          JV72FR6TIL1S
          <p>Hash: 1555845473775037</p>
        </td>
        <td>May 12, 2022</td>
        <td>$190.00</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>
          JV72FR6TI4747
          <p>Hash: 1555845473775037</p>
        </td>
        <td>May 11, 2022</td>
        <td>$200.00</td>
        <td>Completed</td>
      </tr>
    </tbody>
  </table>
</div>
