<section class="card">
  <div class="img_card">
    <img src="../img/card.png" alt="card" />
  </div>
  <div class="quick_transfer">
    <div class="text_block">
      <h2>Quick Transfer</h2>
      <a href="#"><img src="../img/icons/other/point.svg" alt="point" /></a>
    </div>
    <div class="input_numberCard">
      <input type="number" placeholder="Enter the card number" />
      <img src="../img/icons/other/shield.svg" alt="keep" />
    </div>
    <div class="input_sum">
      <div class="number_sum"><input type="number" placeholder="Sum" /></div>
      <div class="currency">
        <div class="name_currency">
          <p>
            <a href="#">
              Currency
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox=" 0px 0px 24px 24px"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </a>
          </p>
          <span>USDC</span>
        </div>
      </div>
    </div>
    <div class="btn_block">
      <button class="btn btn_dark">Submit</button>
      <a href="#">Save this address</a>
    </div>
  </div>
</section>
<section class="transfers">
  <h2>Transfers</h2>
  <div class="div_table">
    <table class="transfers_table">
      <thead>
        <tr>
          <th>Scheduled Transfers</th>
          <th>
            <a href="#">
              View All<svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox=" 0px 0px 24px 24px"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            L05PL0PE0ZCV
            <p>May 23, 2022 at 06:25 am</p>
          </td>
          <td>- $754.90</td>
        </tr>
        <tr>
          <td>
            LCFYO7IA2ILF
            <p>May 15, 2022 at 11:00 pm</p>
          </td>
          <td>- $223.00</td>
        </tr>
        <tr>
          <td>
            DL04210S0XA5
            <p>May 12, 2022 at 11:00 pm</p>
          </td>
          <td>- $250.00</td>
        </tr>
        <tr>
          <td>
            KS04210S0XA5
            <p>May 11, 2022 at 11:00 pm</p>
          </td>
          <td>- $200.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
