<section class="side_bar">
  <div>
    <div class="logo">
      <a href="#">
        <img src="../img/icons/other/logo.svg" alt="logo" />
        EasyPay
      </a>
    </div>
    <nav class="nav_menu">
      <a href="#">Main Menu</a>
      <div class="list">
        <ul>
          <li><a href="#">Dashboard</a><span></span></li>
          <li><a href="#">Transactions</a><span></span></li>
          <li><a href="#">Transfer</a><span></span></li>
          <li><a href="#">Deposit</a><span></span></li>
          <li><a href="#">Withdraw</a><span></span></li>
          <li><a href="#">Payments</a><span></span></li>
          <li><a href="#">Messages</a><span></span></li>
        </ul>
      </div>
    </nav>
  </div>
  <nav class="nav_footer">
    <ul>
      <li><a href="#">Account</a><span></span></li>
      <li><a href="#">Settings</a><span></span></li>
    </ul>
  </nav>
</section>
