<section class="section_balance">
  <div>
    <h2>Total Balance</h2>
    <p>
      <a href="#">
        USDC Balance
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox=" 0px 0px 24px 24px"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </a>
    </p>
  </div>
  <div>
    <h3>54,819.74 <span>USDC</span></h3>
    <p>Wallet ID: 2QVT7C0LOWEJ</p>
  </div>
  <div>
    <button class="btn btn_dark">Deposit</button>
    <button class="btn btn_ligth">Withdraw</button>
  </div>
</section>
