<header class="header">
  <div id="burger-menu">
    <span></span>
  </div>
  <div id="menu">
    <ul>
      <li><a href="#">Dashboard</a><span></span></li>
      <li><a href="#">Transactions</a><span></span></li>
      <li><a href="#">Transfer</a><span></span></li>
      <li><a href="#">Deposit</a><span></span></li>
      <li><a href="#">Withdraw</a><span></span></li>
      <li><a href="#">Payments</a><span></span></li>
      <li><a href="#">Messages</a><span></span></li>
      <li><a href="#">Account</a><span></span></li>
      <li><a href="#">Settings</a><span></span></li>
    </ul>
  </div>

  <div class="welcome">
    <h2>Welcome Back!</h2>
    <p>Ricardo Thompson</p>
  </div>
  <div class="search">
    <input type="text" placeholder="Search transactions..." />
    <img src="..//img/icons/other/search.svg" alt="search" />
  </div>
</header>
