%btn {
  width: $btn-width;
  height: $btn-height;
  font-size: 1rem;
  font-family: "Lexend-Regular";
  border: none;
  border-radius: $borderRadius10;
  cursor: pointer;
  margin-right: 12px;
  transition-duration: 0.5s;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    background: #b4b3b9;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

  &:active {
    transform: scale(1.1);
  }
}
